<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- ///005 location here //// -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" /> <!-- req for version 14 And above -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoAndroidApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            />
        <activity
            android:name=".CameraGalleryDemo.UI.ImageCropperWithPermissionLauncherActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp"
            />
        <activity
            android:name=".UI.Pagging3Demo.Pagging3DemoActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".FlowDemo.FlowDemoMainActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Collapsing.CollapsingDemo4Activity"
            android:exported="false"
            android:parentActivityName=".UI.Collapsing.CollapsingToolbarMain" />
        <activity
            android:name=".UI.Collapsing.CollapsingToolbarWithPinnedActivity"
            android:exported="false"
            android:parentActivityName=".UI.Collapsing.CollapsingToolbarMain" />
        <activity
            android:name=".UI.Collapsing.CollapsingWithPinnedActivity"
            android:exported="false"
            android:parentActivityName=".UI.Collapsing.CollapsingToolbarMain"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".UI.Collapsing.CollapsingToolbarMain"
            android:exported="false"
            android:parentActivityName=".UI.DashboardActivity"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".UI.RecyclerViewOperation.RecyclerViewMainActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".UI.RecyclerViewOperation.RecycleMultiViewTypeActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".ShareViewModel.ShareViewModeDemoActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".ViewPagerDemo.TabLayout.CustomTabLayout.UI.ScrollableTabLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPagerDemo.TabLayout.CustomTabLayout.UI.CustomTabLayout2Activity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".ViewPagerDemo.TabLayout.CustomTabLayout.UI.CustomTabLayoutActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".ViewPagerDemo.CarouselViewPager.CarouselViewPagerActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".ViewPagerDemo.BasicViewPager.BasicViewPagerActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".ViewPagerDemo.ViewPagerWithProgress.UI.ViewPagerWithProgressActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".ViewPagerDemo.ViewPagerMainActivity"
            android:exported="false"
            android:parentActivityName=".UI.DashboardActivity"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".UI.circularProgress.CircularProgressActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".UI.MaterialEditText.MaterialEditTextDemoActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".LocationBgService.LocationBackgrounDemActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".ShareData.ShareViwAsActivity"
            android:exported="false"
            android:parentActivityName=".ShareData.ShareActivityMain"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".ShareData.ShareActivityMain"
            android:exported="false"
            android:parentActivityName=".UI.DashboardActivity"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".UI.Collapsing.BasicCollapsingActivity"
            android:exported="false"
            android:parentActivityName=".UI.Collapsing.CollapsingToolbarLayoutActivity"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".UI.NavigationComponent.NavgraphViewPagger.NavGraphViewpagerActivity"
            android:exported="false" /> <!-- // Activty as AlertDialog -->
        <activity
            android:name=".AlertDialog.customActivityAsDialog"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.TranslucentDark" />
        <activity
            android:name=".ActivityLifecycle.FragmentDemoLifeCycleActivity"
            android:exported="false"
            android:parentActivityName=".ActivityLifecycle.DemoLifeCycleSecond"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".ActivityLifecycle.DemoLifeCycleSecond"
            android:exported="false"
            android:launchMode="singleTask"
            android:parentActivityName=".ActivityLifecycle.ActivityLifeCycleActivity"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".ActivityLifecycle.ActivityLifeCycleActivity"
            android:exported="false"
            android:parentActivityName=".UI.DashboardActivity"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".CoroutineDemo.CoroutineDemo1Activity"
            android:exported="false"
            android:parentActivityName=".UI.DashboardActivity"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".AlertDialog.AlertDialogDemo"
            android:exported="false"
            android:parentActivityName=".UI.DashboardActivity"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".UI.CalanderActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".LoginModule.UI.HomeDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".OpenAnotherApp.OpenAnotherActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".UI.CustomSpinner.CustomSpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".UI.TextScanner.AutoTextReaderActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".UI.Collapsing.CollapsingToolbarLayoutActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".UI.Login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".LoginModule.LoginActivityMain"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".UI.DashboardActivity"
            android:exported="false"
            android:parentActivityName=".UI.HomeActivity"
            android:theme="@style/Theme.DemoAndroidApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CameraGalleryDemo.UI.PermissionActivity"
            android:exported="false"
            android:parentActivityName=".CameraGalleryDemo.UI.ActivityResultLauncherDemoActivity"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".CameraGalleryDemo.UI.MultiplePermissionActivity"
            android:exported="false"
            android:parentActivityName=".UI.DashboardActivity"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".CameraGalleryDemo.UI.ActivityResultLauncherDemoActivity"
            android:exported="false"
            android:parentActivityName=".UI.DashboardActivity"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".CameraGalleryDemo.UI.MultiPermiisionDemoActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".LocationDemo.LocationDemoActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".KotlinDemo.KotlinDemoActivity"
            android:exported="false"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".ShareData.ShareActivity"
            android:exported="false" />
        <activity
            android:name=".UI.CropImage.CameraCropImageActivity"
            android:exported="false"
            android:parentActivityName=".UI.HomeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FileUpload.FileUploadActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".FileUpload.UcropperActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".FlowDemo.FlowDemoActivity"
            android:exported="false"
            android:parentActivityName=".UI.DashboardActivity"
            android:theme="@style/Theme.DemoAndroidApp" />
        <activity
            android:name=".HiltDemo.HiltDemoActivity"
            android:exported="false"
            android:parentActivityName=".UI.HomeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DesignPattern.DesignPatternDemoActivity"
            android:exported="false"
            android:parentActivityName=".UI.HomeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- 007 -->
        <activity
            android:name=".UI.NavigationComponent.advanceDemo.activity.NavigationAdvanceActivity"
            android:exported="false"
            android:parentActivityName=".UI.NavigationComponent.NavigationDemoMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.NavigationComponent.BasicDemo.NavigationBasicActivity"
            android:exported="false"
            android:parentActivityName=".UI.NavigationComponent.NavigationDemoMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.NavigationComponent.NavigationDemoMainActivity"
            android:exported="false"
            android:parentActivityName=".UI.HomeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.HomeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.TextRecognizer.TextRecognizerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.AutoComplete.AutoCompleteActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.AutoCompleteDemo2.AutoCompDemo2Activity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- ///For Deeplink Check s //// -->
        <!-- android:name=".UI.NavigationComponent.advanceDemo.activity.NavigationAdvanceActivity" -->
        <!-- <activity -->
        <!-- android:name=".UI.SplashActivity" -->
        <!-- android:exported="false" -->
        <!-- android:parentActivityName=".UI.NavigationComponent.NavigationDemoMainActivity"> -->
        <!-- <meta-data -->
        <!-- android:name="android.app.lib_name" -->
        <!-- android:value="" /> -->
        <!-- </activity> -->
        <!-- ///005 location here : for continuous background Works //// -->
        <service
            android:name=".LocationBgService.LocationBgService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>